<div ng-form="vm.form"  layout="column" layout-align="center" style="height: 100vh">
    <div flex-xs="100" layout="row" layout-align="center">
        <md-card flex flex-gt-xs="45" flex-gt-md="30" flex-gt-lg="25" class="animated fadeIn">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Authorization</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <div layout="row">
                    <md-input-container flex>
                        <label>Login</label>
                        <input name="login" required ng-model="vm.credentials.login" ng-change="vm.authorized(true)">
                        <div ng-messages="vm.form.login.$error" multiple md-auto-hide="true">
                            <div ng-message="required">
                                Login is empty.
                            </div>
                            <div ng-message="authorized">
                                Login or password incorrect.
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label>Password</label>
                        <input name="password" type="password" required ng-model="vm.credentials.password" ng-change="vm.authorized(true)">
                        <div ng-messages="vm.form.password.$error" multiple md-auto-hide="true">
                            <div ng-message="required">
                                Password is empty.
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" flex>
                    <md-checkbox ng-model="vm.credentials.persistent" flex>Remember me</md-checkbox>
                </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-disabled="vm.busy || !vm.form.$valid" ng-click="vm.submit()" class="md-raised md-primary">Login</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>