@import '~angular-material/angular-material.css';
@import '~animate.css/animate.css';
@import '~angular-loading-bar/src/loading-bar.css';
@import '~material-design-icons/iconfont/material-icons.css';
@import '~roboto-fontface/css/roboto/roboto-fontface.css';

#loading-bar .bar {
    background:  rgb(255,64,129);   
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.md-48 {
    width: 48px;
    height: 48px;
    font-size: 48px;
}

.md-32 {
    width: 32px;
    height: 32px;
    font-size: 32px;
}

md-input-container.hide-error-msg .md-errors-spacer:empty { 
    display: none; 
}

md-input-container.fixed {
    height: 32px !important; 

    label {
        right: initial !important;
    }

    md-datepicker {   
        button.md-datepicker-button {           
            margin-left: -8px !important;
            margin-right: 0px !important;
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        button.md-datepicker-triangle-button {
            margin-left: 0px !important;
            padding-left: 0px !important;
        }
        div.md-datepicker-input-container {
            width: 96px;
            margin-left: 0px !important;
            input {
                min-width: 96px;
                width: 96px;
                margin-right: 4px; 
            }
        } 
    }

    div[ng-message] {      
        margin-left: 29px !important;
        padding: 0px !important;
    }
}