<md-dialog flex="25">
	<div layout="column" flex>
		<div layout class="md-toolbar-tools">
			<h2>Enter setting value</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="vm.cancel()">
				<md-icon md-font-set="md">highlight_off</md-icon>
			</md-button>
		</div>
		<md-dialog-content layout layout-align="center center" flex class="md-dialog-content">
			<md-input-container flex>
				<label>{{vm.description}}</label>
				<input ng-model="vm.value">             
			</md-input-container>
		</md-dialog-content>
		<md-dialog-actions layout layout-align="space-between center">
			<md-button class="md-raised md-primary" ng-click="vm.ok()">Ok</md-button>
			<md-button class="md-primary" ng-click="vm.cancel()">cancel</md-button>
		</md-dialog-actions>
	</div>
</md-dialog>