<md-list flex>
    <md-subheader class="md-primary">
        <div>
            <h3>Email settings</h3>
        </div>
    </md-subheader>

    <md-divider></md-divider>
    <div ng-repeat="setting in vm.data">
        <md-list-item hide-gt-sm class="md-2-line">
            <div class="md-list-item-text">
                <span>{{setting.Description}}</span>
                <p>{{setting.Value}}</p>                
            </div>
            <md-button class="md-icon-button md-secondary" ng-click="vm.edit(setting)">
                <md-icon md-font-set="md">mode_edit</md-icon>
            </md-button>
        </md-list-item>
        <md-list-item hide-sm hide-xs layout>
            <p flex="30">{{setting.Description}}</p>
            <p> 
                <span ng-show="!setting.updating">{{setting.Value}}</span>
                <md-progress-circular ng-show="setting.updating" ng-disabled="!setting.updating" class="md-hue-2" style="padding-right: 10px" md-diameter="20"></md-progress-circular>    
            </p>                 
            <md-button class="md-icon-button md-secondary" ng-click="vm.edit(setting)">
                <md-icon md-font-set="md">mode_edit</md-icon>
            </md-button>
        </md-list-item>
        <md-divider></md-divider>


    </div>
</md-list>