<md-toolbar>
	<div class="md-toolbar-tools">
		<div flex layout>
			<div>
				<md-button class="md-raised md-primary" ng-click="$root.$broadcast('footer', 'approve')">Save
					<md-icon md-font-set="md">save</md-icon>
				</md-button>
			</div>
			<div>
				<md-button class="md-raised md-primary" ng-click="$root.$broadcast('footer', 'reject')">Cancel
					<md-icon md-font-set="md">cancel</md-icon>
				</md-button>
			</div>
			<div>
				<md-button class="md-raised md-primary" ng-click="$root.$broadcast('footer', 'cancel')">Submit
					<md-icon md-font-set="md">arrow_upward</md-icon>
				</md-button>
			</div>
		</div>
	</div>
</md-toolbar>