<md-toast>     
    <span flex md-colors="{color:'warn'}">{{vm.message}}</span>
    <md-button class="md-icon-button md-warn" ng-click="vm.close()">
      <md-icon md-font-set="md">highlight_off</md-icon>
    </md-button> 
</md-toast>