<md-dialog flex="33">
    <div layout="column" flex ng-form name="vm.form">
        <div layout class="md-toolbar-tools">
            <h2>Select date range and vacation type</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <md-icon md-font-set="md">highlight_off</md-icon>
            </md-button>
        </div>
        <md-dialog-content class="md-dialog-content">
            <div layout="column" layout-gt-xs="row" flex>
				<div layout="row">
					<md-input-container class="fixed">		
						<label>Start</label>			
						<md-datepicker required name="start" ng-model="vm.start" md-max-date="vm.end">							
						</md-datepicker>						
					</md-input-container>
					<md-input-container class="fixed">					
						<label>End</label>
						<md-datepicker required name="end" ng-model="vm.end" md-min-date="vm.start">
						</md-datepicker>								
					</md-input-container>
				</div>
				<md-input-container flex style="height: 34px">
					<label>Hours</label>
					<input required type="number" name="hours" ng-model="vm.hours" min="0" max="24" step="any">
					<div ng-messages="vm.form.hours.$error" multiple md-auto-hide="true">                  
						<div ng-message="max">Max value is 24.</div>
					</div>
				</md-input-container>			
			</div>
            <div layout>  
                <md-input-container flex>
                    <label>Vacation type</label>
                    <md-select required name="vacationType" ng-model="vm.vacationType">
                        <md-option ng-repeat="item in vm.vacationTypes" ng-value="item.Value">
                            {{::item.Text}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout layout-align="space-between center">
            <md-button class="md-raised md-primary" ng-disabled="vm.busy || !vm.form.$valid" ng-click="vm.ok()">Ok</md-button>
            <md-button class="md-primary" ng-click="vm.cancel()">cancel</md-button>
        </md-dialog-actions>
    </div>
</md-dialog>