<md-list flex>
	<md-subheader class="md-primary">
		<div>
			<h3>Timeoff total: {{vm.total()}}.</h3>
		</div>
	</md-subheader>

	<md-divider></md-divider>
	<div ng-repeat="week in vm.data.Weeks track by $index">
		<md-list-item hide-gt-sm class="md-2-line">
			<div class="md-list-item-text" layout="column">
				<h3>Week {{::week.Start | date:'MM/dd/yyyy'}} - {{::week.End | date:'MM/dd/yyyy'}}</h3>				
				<p>Total: {{vm.totalWeek(week)}} ({{vm.detailsWeek(week)}})</p>
			</div>

			<md-menu md-position-mode="target-right target" class="md-secondary">
				<md-button class="md-icon-button">
					<md-icon md-font-set="md">more_horiz</md-icon>
				</md-button>
				<md-menu-content width="3">
					<md-menu-item>
						<md-button ng-click="vm.hours(week)">
							<div layout="row" flex>
								<md-icon md-menu-align-target md-font-set="md">access_time</md-icon>
								<p flex>Hours</p>
							</div>
						</md-button>
					</md-menu-item>
					<md-menu-divider></md-menu-divider>
					<md-menu-item>
						<md-button class="md-warn" ng-click="vm.remove($index)">
							<div layout="row" flex>
								<md-icon md-menu-align-target md-font-set="md">delete_forever</md-icon>
								<p flex>Remove</p>
							</div>
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>

		</md-list-item>
		<md-list-item hide-sm hide-xs layout>
			<p flex="20">Week {{::week.Start | date:'MM/dd/yyyy'}} - {{::week.End | date:'MM/dd/yyyy'}}</p>
			<p flex>
				<span ng-repeat="day in week.Days track by $index">
					{{::day.Date | date:'EEE MM/dd'}} - <strong>{{day.Quantity}}h.</strong>
				</span>
			</p>
			<p flex="15">{{vm.totalWeek(week)}} ({{vm.detailsWeek(week)}}) h. total.</p>

			<md-menu md-position-mode="target-right target" class="md-secondary">
				<md-button class="md-icon-button">
					<md-icon md-font-set="md">more_horiz</md-icon>
				</md-button>
				<md-menu-content width="3">
					<md-menu-item>
						<md-button ng-click="vm.hours(week)">
							<div layout="row" flex>
								<md-icon md-menu-align-target md-font-set="md">access_time</md-icon>
								<p flex>Hours</p>
							</div>
						</md-button>
					</md-menu-item>
					<md-menu-divider></md-menu-divider>
					<md-menu-item>
						<md-button class="md-warn" ng-click="vm.remove($index)">
							<div layout="row" flex>
								<md-icon md-menu-align-target md-font-set="md">delete_forever</md-icon>
								<p flex>Remove</p>
							</div>
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>

		</md-list-item>
		<md-divider></md-divider>
	</div>
</md-list>

<md-button ng-click="vm.add()" class="md-fab md-fab-bottom-right" style="position:fixed !important;">
	<md-icon md-font-set="md">add</md-icon>
</md-button>