<md-dialog>
    <div ng-form name="vm.form" layout="column" flex>
        <div layout class="md-toolbar-tools">
            <h2>{{vm.total()}} hours total.</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <md-icon md-font-set="md">highlight_off</md-icon>
            </md-button>
        </div>
        <md-dialog-content class="md-dialog-content">
            <div layout="column" layout-gt-sm="row">
                <div layout layout-gt-sm="column">
                    <md-input-container flex>
                        <label>Vacation type all days</label>
                        <md-select name="typeAllDays" ng-model="vm.typeAllDays" ng-change="vm.onTypeAllDaysChange()">
                            <md-option ng-repeat="item in vm.vacationTypes" ng-value="item.Value">
                                {{::item.Text}}
                            </md-option>
                        </md-select>                        
                    </md-input-container>

                    <md-input-container flex>
                        <label>Hours</label>
                        <input type="number" name="hoursAllDays" min="0" max="8" step="any" ng-model="vm.hoursAllDays" ng-change="vm.onHoursAllDaysChange()">
                        <div ng-messages="vm.form.hoursAllDays.$error" multiple md-auto-hide="true">
                            <div ng-message="min">Minimum value 0.</div>
                            <div ng-message="max">Maximum value 8.</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout layout-gt-sm="column" ng-repeat="row in vm.state track by $index">
                    <md-input-container flex>
                        <label>Vacation type</label>
                        <md-select name="{{'type' + $index}}" ng-required="row.Quantity > 0" ng-model="row.Type">
                            <md-option ng-repeat="item in vm.vacationTypes" ng-value="item.Value">
                                {{::item.Text}}
                            </md-option>
                        </md-select>
                        <div ng-messages="vm.form['type' + $index].$error" multiple md-auto-hide="true">
                            <div ng-message="required">Vacation type required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label>{{::row.Date | date:'(EEE)MM/dd/yyyy'}}</label>
                        <input type="number" name="{{'qty' + $index}}" min="0" max="8" step="any" ng-model="row.Quantity">
                        <div ng-messages="vm.form['qty' + $index].$error" multiple md-auto-hide="true">
                            <div ng-message="min">Minimum value 0.</div>
                            <div ng-message="max">Maximum value 8.</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout layout-align="space-between center">
            <md-button class="md-raised md-primary" ng-disabled="vm.busy || !vm.form.$valid" ng-click="vm.submit()">Ok</md-button>
            <md-button class="md-primary" ng-click="vm.cancel()">cancel</md-button>
        </md-dialog-actions>
    </div>
</md-dialog>