<md-list flex>
	<md-subheader class="md-primary">
		<div>
			<h3>Weekly Payroll {{::vm.data.Period.Period}} - ({{::vm.data.Period.Start | date:'MM/dd/yyyy'}} - {{::vm.data.Period.End
				| date:'MM/dd/yyyy'}}) - {{vm.payrollTotal()}} h. total.
			</h3>
		</div>
	</md-subheader>

	<md-divider></md-divider>
	<div ng-repeat="days in vm.data.Days track by $index">
		<md-list-item hide-gt-sm class="md-3-line">
			<div class="md-list-item-text" layout="column">
				<h3>{{vm.description([days.PayrollCode, days.LaborCode])}}</h3>
				<h4>{{vm.description([days.Order, days.Job, days.JobTask, days.WorkArea])}}</h4>
				<p>{{vm.hoursTotal(days)}} hours total during payroll period.</p>
			</div>

			<md-menu md-position-mode="target-right target" class="md-secondary">
				<md-button class="md-icon-button">
					<md-icon md-font-set="md">more_horiz</md-icon>
				</md-button>
				<md-menu-content width="3">
					<md-menu-item>
						<md-button ng-click="vm.settings(days)">
							<div layout="row" flex>
								<md-icon md-menu-align-target md-font-set="md">assignment</md-icon>
								<p flex>Parameters</p>
							</div>
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="vm.hours(days)">
							<div layout="row" flex>
								<md-icon md-menu-align-target md-font-set="md">access_time</md-icon>
								<p flex>Hours</p>
							</div>
						</md-button>
					</md-menu-item>
					<md-menu-divider></md-menu-divider>
					<md-menu-item>
						<md-button class="md-warn" ng-click="vm.remove($index)">
							<div layout="row" flex>
								<md-icon md-menu-align-target md-font-set="md">delete_forever</md-icon>
								<p flex>Remove</p>
							</div>
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>

		</md-list-item>
		<md-list-item hide-sm hide-xs layout>
			<div flex layout layout-align="space-between center">
				<p flex="25">{{vm.description([days.PayrollCode, days.LaborCode, days.Order, days.Job, days.JobTask, days.WorkArea])}}</p>
				<p>
					<div ng-repeat="day in days.Days track by $index">
						<div>{{::day.Date | date:'EEE&nbsp;MM/dd'}}</div>
						<div><strong>{{day.Quantity}}h.</strong></div>
					</div>
				</p>
				<p flex="15"><strong>{{vm.hoursTotal(days)}} h.</strong> total.</p>
			</div>
			<md-menu md-position-mode="target-right target" class="md-secondary">
				<md-button class="md-icon-button">
					<md-icon md-font-set="md">more_horiz</md-icon>
				</md-button>
				<md-menu-content width="3">
					<md-menu-item>
						<md-button ng-click="vm.settings(days)">
							<div layout="row" flex>
								<md-icon md-menu-align-target md-font-set="md">assignment</md-icon>
								<p flex>Parameters</p>
							</div>
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="vm.hours(days)">
							<div layout="row" flex>
								<md-icon md-menu-align-target md-font-set="md">access_time</md-icon>
								<p flex>Hours</p>
							</div>
						</md-button>
					</md-menu-item>
					<md-menu-divider></md-menu-divider>
					<md-menu-item>
						<md-button class="md-warn" ng-click="vm.remove($index)">
							<div layout="row" flex>
								<md-icon md-menu-align-target md-font-set="md">delete_forever</md-icon>
								<p flex>Remove</p>
							</div>
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>

		</md-list-item>
		<md-divider></md-divider>
	</div>
</md-list>



<md-button ng-click="vm.add()" class="md-fab md-fab-bottom-right" style="position:fixed !important;">
	<md-icon md-font-set="md">add</md-icon>
</md-button>