<md-dialog>
	<div ng-form name="vm.form" layout="column" flex>
		<div layout class="md-toolbar-tools">
			<h2>{{vm.total()}} hours total.</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="vm.cancel()">
				<md-icon md-font-set="md">highlight_off</md-icon>
			</md-button>
		</div>
		<md-dialog-content class="md-dialog-content">
			<div layout="column" layout-gt-sm="row">
				<md-input-container flex>
					<label>All work days</label>
					<input type="number" name="allWorkDays" min="0" max="24" step="any" ng-model="vm.allWorkDays" ng-change="vm.onAllWorkDaysChange()" ng-model="vm.allWorkDays">
					<div ng-messages="vm.form.allWorkDays.$error" multiple md-auto-hide="true">
						<div ng-message="min">Minimum value 0.</div>
						<div ng-message="max">Maximum value 24.</div>
					</div>
				</md-input-container>

				<md-input-container flex ng-repeat="row in vm.state track by $index">
					<label>{{::row.Date | date:'(EEE)MM/dd/yyyy'}}</label>
					<input type="number" name="{{$index}}" min="0" max="24" step="any" ng-model="row.Quantity">
					<div ng-messages="vm.form[$index].$error" multiple md-auto-hide="true">
						<div ng-message="min">Minimum value 0.</div>
						<div ng-message="max">Maximum value 24.</div>
					</div>
				</md-input-container>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout layout-align="space-between center">
			<md-button class="md-raised md-primary" ng-disabled="vm.busy || !vm.form.$valid" ng-click="vm.submit()">Ok</md-button>
			<md-button class="md-primary" ng-click="vm.cancel()">cancel</md-button>
		</md-dialog-actions>
	</div>
</md-dialog>