<md-dialog flex="50">
	<div ng-form name="vm.form" layout="column" flex>
		<div layout class="md-toolbar-tools">
			<h2>Payroll entry description</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="vm.cancel()">
				<md-icon md-font-set="md">highlight_off</md-icon>
			</md-button>
		</div>
		<md-dialog-content class="md-dialog-content">
			<div layout="column">
			<div layout="column" layout-gt-xs="row" flex>
				<div layout="row">
					<md-input-container class="fixed">		
						<label>Start</label>			
						<md-datepicker name="daysStart" ng-model="vm.daysStart" md-max-date="vm.daysEnd" md-date-filter="vm.onlyPayrollDates">							
						</md-datepicker>
						<div ng-messages="vm.form.daysStart.$error">
							<div ng-message="valid">Value is not a date.</div>	
							<div ng-message="maxdate">Date is too late.</div>
							<div ng-message="filtered">Date not in period.</div>
						</div>
					</md-input-container>
					<md-input-container class="fixed">					
						<label>End</label>
						<md-datepicker name="daysEnd" ng-model="vm.daysEnd" md-min-date="vm.daysStart" md-date-filter="vm.onlyPayrollDates">
						</md-datepicker>	
						<div ng-messages="vm.form.daysEnd.$error">
							<div ng-message="valid">Value is not a date.</div>							
							<div ng-message="mindate">Date is too early.</div>							
							<div ng-message="filtered">Date not in period.</div>
						</div>		
					</md-input-container>
				</div>
				<md-input-container flex style="height: 34px">
					<label>Hours</label>
					<input type="number" name="hours" ng-model="vm.hours" min="0" max="24" step="any" ng-change="vm.onHoursChange()">
					<div ng-messages="vm.form.hours.$error" multiple md-auto-hide="true">
						<div ng-message="max">Max value is 24.</div>
					</div>
				</md-input-container>			
			</div>
			
			<md-input-container flex>
				<label>Payroll code</label>
				<md-select required name="payrollCode" ng-model="vm.payrollCode" ng-change="vm.onPayrollCodeChange()">
					<md-option ng-repeat="item in ::vm.payrollCodes" ng-value="item">
						<div>{{::item.Code}} {{::item.Description? '|' : ''}} {{::item.Description}} 
							<span class="md-caption">{{::item.Payable? '(payable)' : ''}}</span>
						</div>
					</md-option>
				</md-select>
				<div ng-messages="vm.form.payrollCode.$error" multiple md-auto-hide="true">
					<div ng-message="required">Payroll code is required.</div>
				</div>
			</md-input-container>

			<md-input-container flex>
				<label>Labor code</label>
				<md-select required name="laborCode" ng-model="vm.state.LaborCode">
					<md-option ng-repeat="item in vm.laborCodes" value="{{item.Value}}">
						{{::item.Value}} {{::item.Text? '|' : ''}} {{::item.Text}}
					</md-option>
				</md-select>
				<div ng-messages="vm.form.laborCode.$error" multiple md-auto-hide="true">
					<div ng-message="required">Labor code code is required.</div>
				</div>
			</md-input-container>			
			<md-input-container flex>
				<label>Work area</label>
				<md-select required name="workArea" ng-model="vm.state.WorkArea">
					<md-option ng-repeat="item in ::vm.workAreas" value="{{item.Value}}">
						{{::item.Text}}
					</md-option>
				</md-select>
				<div ng-messages="vm.form.workArea.$error" multiple md-auto-hide="true">
					<div ng-message="required">Work area is required.</div>
				</div>
			</md-input-container>

			<md-input-container flex>
				<label>Job number</label>
				<md-select name="job" ng-model="vm.state.Job" ng-change="vm.onJobChange()" ng-disabled="!vm.payrollCode.Payable">
					<md-option ng-repeat="item in ::vm.jobs" value="{{item.Value}}">
						{{::item.Value}} | {{::item.Text}}
					</md-option>
				</md-select>
				<div ng-messages="vm.form.job.$error" multiple md-auto-hide="true">
					<div ng-message="required">Job or service order number is required.</div>
				</div>
			</md-input-container>
			<md-input-container flex>
				<label>Job task number</label>
				<md-select name="jobTask" ng-model="vm.state.JobTask" md-on-open="vm.loadJobTasks()" ng-disabled="!vm.state.Job">
					<md-option ng-repeat="item in vm.jobTasks" value="{{item.Value}}">
						{{::item.Value}} | {{::item.Text}}
					</md-option>
				</md-select>
				<div ng-messages="vm.form.jobTask.$error" multiple md-auto-hide="true">
					<div ng-message="required">Job task number is required.</div>
				</div>
			</md-input-container>

			<md-input-container flex>
				<label>Service order number</label>
				<md-select name="order" ng-model="vm.state.Order" ng-change="vm.onServiceOrderChange()" ng-disabled="!vm.payrollCode.Payable">
					<md-option ng-repeat="item in ::vm.orders | limitTo:10" value="{{item.Value}}">
						{{::item.Value}} | {{::item.Text}}
					</md-option>
				</md-select>
				<div ng-messages="vm.form.order.$error" multiple md-auto-hide="true">
					<div ng-message="required">Job or service order number is required.</div>
				</div>
			</md-input-container>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout layout-align="space-between center">
			<md-button class="md-raised md-primary" ng-disabled="vm.busy || !vm.form.$valid" ng-click="vm.ok()">Ok</md-button>
			<md-button class="md-raised md-primary" ng-disabled="vm.busy || !vm.form.$valid" ng-click="vm.goHours()">Hours</md-button>
			<md-button class="md-primary" ng-click="vm.cancel()">cancel</md-button>
		</md-dialog-actions>
	</div>
</md-dialog>