<md-list flex>
	<md-subheader class="md-primary">
		<div>
			<h3>Weekly Payroll {{::vm.data.Period.Period}} - ({{::vm.data.Period.Start | date:'MM/dd/yyyy'}} - {{::vm.data.Period.End
				| date:'MM/dd/yyyy'}}) - {{vm.payrollTotal()}} h. total.
			</h3>
		</div>
	</md-subheader>

	<md-divider></md-divider>
	<div ng-repeat="days in vm.data.Days track by $index">
		<md-list-item hide-gt-sm class="md-2-line">
			<div class="md-list-item-text" layout="column">
				<h3>{{vm.description(days)}}</h3>
				<p>{{vm.hoursTotal(days)}} hours total during payroll period.</p>
			</div>	
		</md-list-item>
		<md-list-item hide-sm hide-xs layout>
			<div flex layout layout-align="space-between center">
				<p flex="25">{{vm.description(days)}}</p>
				<p flex="60" class="md-body-1">
					<span ng-repeat="day in days.Days track by $index">
						{{::day.Date | date:'EEE MM/dd'}} - <strong>{{day.Quantity}}h.</strong>
					</span>
				</p>
				<p flex="15" class="md-body-1"><strong>{{vm.hoursTotal(days)}} h.</strong> total.</p>
			</div>	
		</md-list-item>
		<md-divider></md-divider>
	</div>
</md-list>