<md-list flex>
	<md-subheader class="md-primary">
		<div>
			<h3>Timeoff total: {{vm.total()}}.</h3>
		</div>
	</md-subheader>

	<md-divider></md-divider>
	<div ng-repeat="week in vm.data.Weeks track by $index">
		<md-list-item hide-gt-sm class="md-2-line">
			<div class="md-list-item-text" layout="column">
				<h3>Week {{::week.Start | date:'MM/dd/yyyy'}} - {{::week.End | date:'MM/dd/yyyy'}} ({{vm.totalWeek(week)}} hours).</h3>
				<p>{{vm.detailsWeek(week)}}</p>
			</div>	
		</md-list-item>
		<md-list-item hide-sm hide-xs layout>
			<p flex="20" class="md-subhead">Week {{::week.Start | date:'MM/dd/yyyy'}} - {{::week.End | date:'MM/dd/yyyy'}}</p>
			<p flex>
				<span ng-repeat="day in week.Days track by $index">
					{{::day.Date | date:'EEE MM/dd'}} - <strong>{{day.Quantity}}h.</strong>
				</span>
			</p>
			<p flex="15">{{vm.totalWeek(week)}} ({{vm.detailsWeek(week)}}) h. total.</p>	
		</md-list-item>
		<md-divider></md-divider>
	</div>
</md-list>