<div layout="column" layout-align="space-around center">
    <div layout layout-align="center center">
        <div layout="column" layout-align="center start" class="md-padding md-margin" md-whiteframe="5">
            <div layout>
                <md-icon class="md-48 md-warn md-margin" md-font-set="md">account_circle</md-icon>
                <h4>{{vm.layer.Chief.FName}} {{vm.layer.Chief.MName}} {{vm.layer.Chief.LName}}</h4>
            </div>
            <div layout>
                <md-button ui-sref="main.timesheet" ng-class="{'md-primary': vm.layer.Chief.TSheets}">Timesheet {{vm.layer.Chief.TSheets > 0? '(' + vm.layer.Chief.TSheets + ')' : ''}}</md-button>
                <md-button ui-sref="main.timeoff" ng-class="{'md-primary': vm.layer.Chief.TOffs}">Timeoff {{vm.layer.Chief.TOffs > 0? '(' + vm.layer.Chief.TOffs + ')' : ''}}</md-button>
            </div>
        </div>
    </div>
    <div layout layout-wrap layout-padding layout-align="space-around center">
        <div layout="column" layout-align="center start" class="md-padding md-margin" md-whiteframe="{{e.Norm * 24}}" ng-repeat="e in vm.layer.Subordinates">
            <div layout>
                <md-icon ng-class="{'md-primary': ((e.TSheets + e.TOffs + e.Sub) > 0)}" class="md-48 md-margin" md-font-set="md">account_circle</md-icon>
                <h4>{{e.FName}} {{e.MName}} {{e.LName}}</h4>
            </div>
            <div layout layout-align="start center">
                <md-button flex="auto" ui-sref="main.review({empNo: e.No})" ng-class="{'md-primary': e.TSheets}">
                    Requests {{e.TSheets + e.TOffs > 0? '(' + (e.TSheets + e.TOffs) + ')' : ''}}
                </md-button>              
                <md-button flex="auto" ui-sref="main.administration({id: e.No})">
                    Team {{e.Sub > 0? '(' + e.Sub + ')' : ''}}
                </md-button>
            </div>
        </div>
    </div>
</div>