<div layout="column" layout-fill>
	<md-toolbar md-whiteframe="1" ng-show="!vm.search">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" ng-click="vm.toggleMenu()">
				<md-icon md-font-set="md">arrow_forward</md-icon>
			</md-button>
			<h2 flex>{{$state.current.label}}</h2>

			<md-button class="md-icon-button" ng-show="vm.headerEnabled" ng-click="vm.search = !vm.search">
				<md-icon md-font-set="md">search</md-icon>
			</md-button>
			<md-menu md-position-mode="target-right target">
				<md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
					<md-icon md-menu-origin md-font-set="md">apps</md-icon>
				</md-button>
				<md-menu-content width="3">
					<md-menu-item>
						<md-button ui-sref="main.settings">
							<div layout="row" flex>
								<p flex>Settings</p>
								<md-icon md-menu-align-target md-font-set="md">settings</md-icon>
							</div>
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="vm.logout()">
							<div layout="row" flex>
								<p flex>Logout</p>
								<md-icon md-menu-align-target md-font-set="md">exit_to_app</md-icon>
							</div>
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</div>
	</md-toolbar>

	<md-toolbar md-colors="{background: 'grey-A100'}" md-whiteframe="1" ng-show="vm.headerEnabled && vm.search">
		<div class="md-toolbar-tools" layout>
			<md-button class="md-icon-button" ng-click="vm.search = !vm.search">
				<md-icon md-colors="{color: 'primary'}" md-font-set="md">close</md-icon>
			</md-button>
			<div flex layout layout-align="start end">
				<md-input-container flex ng-show="vm.headerParameters.length > 0">
					<md-select multiple ng-model="vm.parameters">
						<md-option ng-value="parameter.Id" ng-repeat="parameter in vm.headerParameters">
							{{parameter.Text}}
						</md-option>
					</md-select>
				</md-input-container>
				<md-input-container flex class="hide-error-msg">
					<label>Search</label>
					<input ng-model-options="{ debounce: 1000 }" ng-change="$root.$broadcast('header-filter', vm.filter)" ng-model="vm.filter">
				</md-input-container>
			</div>
		</div>
	</md-toolbar>

	<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="1">
		<md-toolbar md-whiteframe="1">
			<div class="md-toolbar-tools">
				<h2 flex>{{$root.currentUser.FirstName + ' ' + $root.currentUser.LastName}}</h2>
			</div>
		</md-toolbar>

		<md-list>
			<md-list-item layout flex ui-sref="main.administration" ng-click="vm.toggleMenu()">
				<div layout flex>
					<md-icon flex="20" md-font-set="md">supervisor_account</md-icon>
					<span flex><strong>My team</strong></span>
					<span flex></span>
				</div>
			</md-list-item>

			<md-list-item layout flex ui-sref="main.timesheet" ng-click="vm.toggleMenu()">
				<div layout flex>
					<md-icon flex="20" md-font-set="md">event</md-icon>
					<span flex><strong>Timesheet</strong></h4>				
					<span flex></span>
				</div>
			</md-list-item>

			<md-list-item layout flex ui-sref="main.timeoff" ng-click="vm.toggleMenu()">
				<div layout flex>
					<md-icon flex="20" md-font-set="md">event</md-icon>
					<span flex><strong>Timeoff</strong></span>
					<span flex></span>
				</div>
			</md-list-item>
		</md-list>
	</md-sidenav>

	<md-content style="max-width: 100vw" flex ui-view="content">
	</md-content>

	<md-toolbar ng-show="vm.footerButtons.length > 0">
		<div class="md-toolbar-tools">
			<div flex layout>
				<div ng-repeat="button in vm.footerButtons">
					<md-button hide-sm hide-xs class="md-raised md-primary" ng-click="$root.$broadcast('footer', button.Id)">
						<span>{{button.Text}}</span>
						<md-icon md-font-set="md">{{button.Icon}}</md-icon>
					</md-button>

					<md-button hide-gt-sm class="md-raised md-primary md-icon-button" ng-click="$root.$broadcast('footer', button.Id)">
						<md-icon md-font-set="md">{{button.Icon}}</md-icon>
					</md-button>
				</div>
			</div>
		</div>
	</md-toolbar>
</div>