<md-dialog>
	<div layout="column" flex>
		<div layout class="md-toolbar-tools">
			<h2>Select payroll period</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="vm.cancel()">
				<md-icon md-font-set="md">highlight_off</md-icon>
			</md-button>
		</div>
		<md-dialog-content layout layout-align="center center" flex class="md-dialog-content">
			<md-input-container flex>
				<label>Payroll period</label>
				<md-select ng-model="vm.payrollPeriod">
					<md-option ng-repeat="item in vm.payrollPeriods" value="{{item.Code}}">
						{{::item.Period}} - ({{::item.Start | date:'MM/dd/yyyy'}} - {{::item.End | date:'MM/dd/yyyy'}})
					</md-option>
				</md-select>
			</md-input-container>
		</md-dialog-content>
		<md-dialog-actions layout layout-align="space-between center">
			<md-button class="md-raised md-primary" ng-disabled="!vm.payrollPeriod" ng-click="vm.ok()">Ok</md-button>
			<md-button class="md-primary" ng-click="vm.cancel()">cancel</md-button>
		</md-dialog-actions>
	</div>
</md-dialog>