<md-button ui-sref=".edit({id: null})" class="md-fab md-fab-bottom-right" style="position:fixed !important;">
	<md-icon md-font-set="md">add</md-icon>
</md-button>

<md-list flex ng-class="{'fadeIn': !vm.busy}" class="animated">
	<div hide-gt-xs flex layout ng-hide="vm.page == 1">
		<md-button flex class="md-primary" ng-click="vm.getPrevPage()">Previous</md-button>
	</div>
	<md-divider></md-divider>
	<div ng-repeat="item in vm.items">
		<md-list-item hide-gt-sm class="md-2-line" ui-sref=".edit({id: item.Id})">
			<md-icon class="md-avatar md-48" md-font-set="md">account_circle</md-icon>
			<div class="md-list-item-text">
				<h3>{{::item.FName}} {{::item.LName}}</h3>
				<p>Created: {{::item.Created | date:'MM/dd/yyyy'}} - {{vm.getStatus(item.Status)}} </p>			
			</div>
		</md-list-item>
		<md-list-item hide-sm hide-xs ui-sref=".edit({id: item.Id})">
			<div flex="20" layout layout-align="center center">
				<md-icon class="md-margin md-48" md-font-set="md">account_circle</md-icon>
				<span class="md-subhead" flex>{{::item.FName}} {{::item.LName}}</span>
			</div>
			<p flex="20"></p>
			<p flex> Created: {{::item.Created | date:'MM/dd/yyyy'}}</p>
			<p flex="15">{{vm.getStatus(item.Status)}}</p>	
		</md-list-item>
		<md-divider></md-divider>
	</div>
	<div hide-gt-xs flex layout ng-hide="!vm.canGetNextPage()">
		<md-button flex class="md-primary" ng-click="vm.getNextPage()">Next</md-button>
	</div>
</md-list>

<div hide-xs layout="row" layout-align="center center" ng-show="vm.pages.length">
	<md-button class="md-primary" ng-disabled="!vm.canGetPrevPage()" ng-click="vm.getPrevPage()">Previous</md-button>
	<md-input-container>
		<md-select ng-model="vm.page" md-selected-text="vm.page + '/' + vm.pages.length" ng-change="vm.getPage(vm.page)">
			<md-option ng-repeat="page in vm.pages" value="{{page}}">
				{{page}}
			</md-option>
		</md-select>
	</md-input-container>
	<md-button class="md-primary" ng-disabled="!vm.canGetNextPage()" ng-click="vm.getNextPage()">Next</md-button>
</div>